# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfstate.backup
terraform.tfvars
*.auto.tfvars
crash.log
tfplan

# Ansible
ansible/inventory/hosts.ini
*.retry

# SSH keys — NEVER commit
*.pem
*.key
id_rsa*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
